@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.special-font {
  font-family: "Orbitron", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: -2;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top
    center;
}

.twinkling {
  z-index: -1;
  background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png")
    repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none;
}

.esri-ui-corner .esri-component {
  box-shadow: 0 0px 0px;
}

.esri-widget, .esri-widget:hover, .esri-navigation-toggle:hover, .esri-navigation-toggle, .esri-icon-pan, .esri-icon-rotate, .esri-widget--button, .esri-widget--button:hover, .esri-navigation-toggle__button, .esri-navigation-toggle__button:hover, .esri-navigation-toggle:focus {
  color: white;
  background-color: transparent;
}

.esri-navigation-toggle__button:before {
  border-color: transparent #fff transparent transparent;
}

.esri-zoom > .esri-widget--button:hover, .esri-compass:hover {
  transform: scale(1.1);
}

.esri-navigation-toggle:hover {
  transform: scale(1.05);
}

.svg {
  transform: scale(1.75);
}

.addTweetButton:hover .addTweetSvg{
  fill: white;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
